<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="christianMusicBean" class="org.spring.learn.ChristianMusic" />
    <bean id="classicalMusicBean" class="org.spring.learn.ClassicalMusic" />
    <bean id="rockMusicBean" class="org.spring.learn.RockMusic" />


    <bean id="musicPlayer" class="org.spring.learn.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="christianMusicBean"/>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>